/* TIPOGRAFÍAS */
@font-face {
    font-family: 'light';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'semibold';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'black';
    src: url('../assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument-Extended';
    src: url('../assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/* VARIABLES TIPOGRÁFICAS */
$font-title: "Monument-Extended";




/* COLORES */
:root {
    --green__primary: #226412;
    --green__dark: #102A09;
    --green__light: #68A25A;
    --black__1: #060606;
    --white__1: #D9D9D9;
    --bs-body-font-family: 'black';

    --navbar--toggler__icon: url("../assets/icons/navbar-toggler-icon.png");
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--black__1);
}




/* COMPONENTES PRINCIPALES */

/*NAVBAR*/
.navbar {
    background-color: var(--black__1);
    font-family: 'medium', sans-serif;
    font-size: x-small;

    .nav-link {
        &:hover {
            color: var(--green__primary);
        }
    }

    .menu--desplegable {
        font-size: x-small;
    }

    .navbar-brand {
        img {
            width: 80%;
            height: 80%;
        }
    }
}


/*TEXTO*/
h1.titulo--principal {
    font-family: $font-title;
    /* Usa la familia de fuentes Montserrat-Black y, si no está disponible, usa fuentes sans-serif */
    color: var(--white__1) !important;

    span {
        color: var(--green__primary) !important;
    }
}

h2.titulo--secundario {
    font-family: $font-title;
    font-size: large;
    color: var(--white__1) !important;
    padding: 20px 0px;

    span {
        color: var(--green__primary) !important;
    }
}

p.texto--principal {
    font-family: 'light', sans-serif;
    color: var(--white__1) !important;

    span {
        font-family: "semibold";
    }
}

/*BOTONES*/
.button {
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--green__primary);
    font-family: "medium", sans-serif;
    font-weight: 700;
    font-size: medium;
}

.button--primary {
    @extend .button;
    color: var(--white__1);
    background: var(--green__primary);

    &:hover {
        background: var(--green__dark);
        color: var(--white__1);
    }
}

.button--standar {
    @extend .button;

    &:hover {
        background: var(--green__dark);
        color: var(--white__1);
    }
}

.button--secondary {
    @extend .button;
    background: none;
    border: 1px solid var(--white__1);
    color: var(--white__1);

    &:hover {
        border: 1px solid var(--green__light);
        color: var(--green__light);
    }
}

.option-bar {
    display: inline-flex;
    padding: 10px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--green__primary);
}

/*PORTADAS*/
div.portada {
    margin-top: 80px;
}

div.portada__imagen {
    display: flex;
    justify-content: end;

}

div.portada__icons {
    display: flex;
    justify-content: end;
    padding: 20px 0px;

}

div.card-body {
    font-family: "semibold";
    font-size: small;

    .card-text {
        font-family: "light";
        font-size: smaller;
    }
}

#portada__data {
    align-content: flex-start;
}

section.noticias {
    h2 {
        padding: 40px 0px;
    }
}

.container__noticias {
    display: flex;
    flex: 1;
}

/*SECCIÓN SHOWS*/

.titulo--compuesto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.separacion-estandar {
    padding-top: 40px;
    padding-bottom: 40px;
}
























/* MEDIA QUERYS */
@media (min-width: 300px) and (max-width: 520px){
    h1.titulo--principal {
        font-size: 150%;
    }

    section.secciones__titulo {
        display: flex;
        justify-content: center;
    }

    div.shows__imagen {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .titulo--compuesto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;

        h2 {
            text-justify: center;
            text-align: center;
        }
    }
}

@media (max-width: 556px) {
    h1.titulo--principal {
        text-align: center;
    }

    h2.titulo--secundario {
        margin-bottom: 20px;
    }

    p.texto--principal {
        text-align: center;
    }

    .container__imagen {
        display: none;
    }

    .navbar-brand {
        img {
            width: 50%;
            height: 50%;
        }
    }

    div.portada__texto {
        margin-bottom: 120px;
    }

    div.shows__imagen {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .titulo--compuesto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;

        h2 {
            text-justify: center;
        }
    }
}

@media (min-width: 556px) and (max-width: 768px) {
    h1.titulo--principal {
        text-align: center;
    }

    p.texto--principal {
        text-align: center;
    }

    .container__imagen {
        display: none;
    }

    .navbar-brand {
        img {
            width: 50%;
            height: 50%;
        }
    }

    div.shows__imagen {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .titulo--compuesto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        h2 {
            text-justify: left;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    h1.titulo--principal {
        text-align: center;
    }

    p.texto--principal {
        text-align: center;
    }

    .container__imagen {
        display: none;
    }

    .navbar-brand {
        img {
            width: 50%;
            height: 50%;
        }
    }

    div.shows__imagen {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .titulo--compuesto {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

        h2 {
            text-justify: left;
        }
    }
}